body {
  margin: 0;
  overflow: hidden;
}
#clock-container { 
  position: relative;
  max-width: 13%;
  max-height:13%;
  vertical-align: middle;
  background: #3498DB;
  background-color: #65BEF8;
  background-color: #9BD7FE;
  background-color: #B5E0FC;
  background-color: #91E5E4;
  margin : 0 auto 0;
  display:block;
  margin-top:-68%;
  margin-left:43%;
  position: relative;
  z-index: 1;
 
} 
.Wrap{
    position: relative;
    z-index: 0;
}
#face { stroke-width: 3px; stroke: #fff; fill: #91E5E4;}
#hour, #min, #sec { 
  stroke-width: 1px;
  fill: #fff;
  fill:#fff;
  stroke: #fff;
  stroke:#eee;
}
#sec { stroke: #f55; }
#circle{ fill: #f55;}